.food-container{
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin-top: 40px;
    padding: 5px 70px;
    column-gap: 70px;
}

.food-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.cart-container{
    background-color: rgba(224, 224, 224, 0.524);
    border-radius: 8px;
    height: 80vh;
    padding: 15px 10px;
    /* position: fixed; */
    /* right: 10%; */
}