.home-container{
    padding: 0px 70px;
    /* width: ; */
    /* height: calc(100vh - 120px); */
    display: flex;
    align-items: center;
}

.article-container{
    width: 90%;
}

.header{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.special-header{
    color: #561187cb;
}

.anni-container{
    max-width: 50%;
    /* max-height: 80%; */
    /* height: 80%; */
    margin-top: 90px;
}

.home-btn{
    margin-top: 30px;
}

.btn{
    background-color: #561187cb;
    padding: 6px 12px;
    color: white;
    border-radius: 8px;
    margin-right: 20px;
    text-decoration: none;
    /* font-weight: 00; */
}